.active {
    opacity: 1 !important;
}

.calendar .DayPicker {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.customDate {
    width: 100%;
}
.isToday{
	color: #F56565;
}
